/**
* CSS for D3View class
*
*
*/



/* D3 View */
.D3View{
  position: relative;                                                           
  height: 100%;
  padding: 20px;
}

/* D3 View bootstrap col 6 */
.D3View[class*="col-"][class*="-6"]{
  height: 50%;
}

/* D3 View bootstrap col 12 */
.D3View[class*="col-"][class*="-12"]{
  height: 100%;
}

/* Plot Panel */
.D3View>.panel{
  position: relative;                                                           
  height: 100%;
}

/* Plot Panel Header */                           
.D3View>.panel>.panel-heading{                                     
  background-color: #f7f7f7;                                                    
  font-family: 'HelveticaNeue-Light',sans-serif;                                
  font-size: 1.25em;                                                            
  margin: 0;
  min-height: 2em;
}                                                                               


/* Plot Title */
.D3View .plot-title{
  display: inline-block;
  min-width: 30%;
}

/* Plot Panel Content */                          
.D3View>.panel>.panel-body{                                        
  position: relative;                                                           
  height: calc(100% - 6em);
  padding: 0;                                                                   
}                                                                               
                                                                                
/* Plot Panel Footer */                           
.D3View>.panel>.panel-footer{                                      
  background-color: #f7f7f7;                                                    
  position: absolute;                                                           
  right: 0;                                                                     
  bottom: 0;                                                                    
  left: 0; 
  padding: .25em 10px;
  margin: 0;
}                                                                               

/* Footer button left */
.D3View .btn-left{
  padding-left: 5px;
}

/* Footer button left button */
.D3View>.panel>.panel-footer>.axes-btns>.btn-left>.btn{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Footer button right button */
.D3View>.panel>.panel-footer>.axes-btns>.btn-right>.btn{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Footer button right */
.D3View .btn-right{
  padding-right: 5px;
}

/* Axes button labels */ 
.D3View .axes-btns label{
  padding-right: 4px;
}

/* Axes buttons form group */
.D3View .axes-btns .form-group{
  margin: 0;
  display: inline-block;
}


/* Axes buttons form control */
.D3View .axes-btns .form-control {
    width:auto;
}


/* Data table */
.D3View .data-table{
  overflow-x: scroll;
  overflow-y: scroll;
}

/* Glyphicon */
.D3View .glyphicon{
  cursor: pointer;
}
