
/* ................ Plot Title ............. */
#component-plot-title,
#plot-title{
  margin: 0 auto;
  font-family: 'HelveticaNeue-Light',sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
}

/* ................ Plot Title ............. */




/* ................ Plots .................... */
#component-curves-plot,
#hazard-curves-plot{
  margin: 0 auto;
}
/* ................ Plots .................... */

.panel .panel-heading .glyphicon{
  font-size: .85em;
  text-align: middle;
  font-weight: 100;
  opacity: .7; 
}

/* ............... Forms ................. */
.form-group{
  margin: 0 -5px 6px -5px;
  padding: 2px 4px;
}


.form-inline label small{
  font-weight: normal; 
}
/* ............... Forms ................. */


