/*
####################################################
#
#   CSS for the model-compare webpage
#
#
#####################################################
*/







/*#################################################*/
/**/
/*.................... Plots ......................*/

/*............... Main Plot Panel ................*/
#hazard-plot-panel{
  display: none;
}
/*------------------------------------------------*/

/*............... Plot Resize ....................*/
#hazard-plot-resize{
  float: right;
}
/*------------------------------------------------*/


/*.................. Plot Titles ..................*/
#hazard-plot-title{
  margin: 0 auto;
  font-family: 'HelveticaNeue-Light',sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
}
/*-------------------------------------------------*/


/*..................... Plots .....................*/
#hazard-curves-plot{
  margin: 0 auto;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Glyphicons ........... */
.panel .panel-heading .glyphicon{
  font-size: .85em;
  text-align: middle;
  font-weight: 100;
  opacity: .7; 
}
/*-------------------------------------------------*/


/*.............. Plot Panel Heading .............. */
.panel .panel-heading{
  background-color: #f7f7f7;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Heading .............. */
.panel .panel-footer{
  background-color: #f7f7f7;
}
/*-------------------------------------------------*/


/*------------- End: Plots ------------------------*/
/**/
/*#################################################*/




/*#################################################*/
/**/
/*............... Lat/Lon Bounds ..................*/

#lat_bounds,
#lon_bounds{
  color: black;
  opacity: 0.8;
}
/*------------- End: Lat/Lon Bounds ---------------*/
/**/
/*#################################################*/




