/*
####################################################
#
#   CSS for the model-explorer webpage
#
#
#####################################################
*/



/*#################################################*/
/**/
/*.................... Plots ......................*/

/*.................. Plot Titles ..................*/
#component-plot-title,
#plot-title{
  margin: 0 auto;
  font-family: 'HelveticaNeue-Light',sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
}
/*-------------------------------------------------*/


/*..................... Plots .....................*/
#component-curves-plot,
#hazard-curves-plot{
  margin: 0 auto;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Glyphicons ........... */
.panel .panel-heading .glyphicon{
  font-size: .85em;
  text-align: middle;
  font-weight: 100;
  opacity: .7; 
}
/*-------------------------------------------------*/


/*.............. Plot Panel Heading .............. */
.panel .panel-heading{
  background-color: #f7f7f7;
}
/*-------------------------------------------------*/


/*------------- End: Plots ------------------------*/
/**/
/*#################################################*/




/*#################################################*/
/**/
/*............... Lat/Lon Bounds ..................*/

#lat_bounds,
#lon_bounds{
  color: black;
  opacity: 0.8;
}
/*------------- End: Lat/Lon Bounds ---------------*/
/**/
/*#################################################*/




