/*
####################################################
#
#   CSS for the model-compare webpage
#
#
#####################################################
*/






/*#################################################*/
/**/
/*.................... Plots ......................*/

/*............... Main Plot Panel ................*/
#spectra-plot-panel{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px;
  display: none;
}
/*------------------------------------------------*/

/*.............. Plot Panel Heading .............. */
.panel>.panel-heading{
  background-color: #f7f7f7;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Footer .............. */
.panel-footer{
  background-color: #f7f7f7;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Content .............. */
.panel-content{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
/*-------------------------------------------------*/


/*............... Plot Resize ....................*/
#spectra-plot-resize{
  float: right;
}
/*------------------------------------------------*/


/*.................. Plot Titles ..................*/
#spectra-plot-title{
  margin: 0;
  font-family: 'HelveticaNeue-Light',sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
}
/*-------------------------------------------------*/


/*..................... Plots .....................*/
#spectra--plot{
  margin: 0 auto;
}
/*-------------------------------------------------*/


/*.............. Plot Panel Glyphicons ........... */
.panel>.panel-heading>.glyphicon{
  font-size: .85em;
  text-align: middle;
  font-weight: 100;
  opacity: .7; 
}
/*-------------------------------------------------*/




/*------------- End: Plots ------------------------*/
/**/
/*#################################################*/


optgroup {
  color: SteelBlue;
}


#gmm-sorter {
  float: right;
}



#addata {
  float: right;
  /*margin-top: 20px;*/
}



.form-group-sm .form-control {
  height: 24px;
  padding: 2px 4px;
}

.input-group-sm .input-group-addon {
  height: 24px;
  padding: 2px 4px;
}

[class*="col-sm-"] {
  padding-left: 2px;
  padding-right: 2px;
}

.form-horizontal .form-group-sm .units {
  text-align: left;
  padding-top: 4px;
}

.secondary-input {
  font-weight: normal;
}

.disabled {
  color: #aaa;
}

.btn-group {
  padding-top: 1px;
}


/* plot */

/*text {
  font: 10px sans-serif;
}
*/

.axis-label {
  font-size: 1.2em;
  font-weight: 500;
  text-anchor: middle;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend line,
.lines {
  fill: none;
  stroke-width: 2.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}


