/*
######################################################
#
# Main CSS for webapps with a control panel:
#   - spectra-plot
#   - model-explorer
#
######################################################
*/




/*###################################################*/
/**/
/*.................... Main Body ....................*/

html, body{
  width: 100%;
  height:100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
/*------------------ End: Main Body -----------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/*..................... Header ......................*/

/*..................... Header ......................*/
#header{
  background: black url("../img/usgs_logo.png") 0px/84px no-repeat;
  background-position: 3px 3px;
	position: fixed;
  color: white;
  z-index: 100;
	top: 0;
	left: 0;
	right: 0;
  height: 1.6em;
  line-height: 1.6em;
  text-align: right;
  padding-right: 8px;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 2px #999;
}
/*---------------------------------------------------*/


/*................. Header Title ....................*/
#header .title{
  padding-right: 8px;
}
/*---------------------------------------------------*/


/*................. Header Menu .....................*/
#header #header-menu{
  float:right;
}
/*---------------------------------------------------*/


/*........... Header Glyphicon Hover.................*/
#header .glyphicon-menu-hamburger:hover{
  cursor:pointer;
}
/*---------------------------------------------------*/


/*............. Header Glyphicon ....................*/
#header .glyphicon{
  top: 3px;
}
/*---------------------------------------------------*/

/*-------------- End: Header ------------------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/* .................... Footer ..................... */

#footer{
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  border-top: 1px solid #bbb;
  box-shadow: 0px 0px 3px 1px #ccc;
  padding: 8px;
  z-index: 101;
  height: 3.5em;
}
/*-------------- End: Footer ----------------------- */
/**/
/*###################################################*/




/*###################################################*/
/**/
/*.................. Control Panel ..................*/

/*.................. Control Panel ..................*/
#control{
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 2em 0 3.5em 0;
  padding:20px;
  width: 400px;
  overflow: auto;
  border-right: 1px solid #ddd;
}
/*---------------------------------------------------*/


/*.................... Forms .......................*/
.form-horizontal .form-group{
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 6px;
  padding: 2px 4px;
}


option:disabled{
    color:#999;
}

option {
  color: black;
}


label {
  font-weight: 500;
}

label.control-group {
  font-weight: 700;
}


label.control-spacer {
  margin-top: 8px;
}

.form-inline label small{
  font-weight: normal;
}

.form-horizontal  .form-control{
  font-size: 12px;
}

.form-horizontal .form-group-sm .control-label {
  padding-top: 3px;
}
/*---------------------------------------------------*/


/*----------- End: Control Panel  -------------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/*................... Main Content ..................*/

#content{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2em 0 3.5em 400px;
  padding: 20px;
  overflow: auto;
}
/*-------------- End: Main Content -------------------*/
/**/
/*###################################################*/




/*###################################################*/
/**/
/*................... Spinner .......................*/


/*............. Screen Overlay ......................*/
#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.20;
  z-index: 1000;
}
/*---------------------------------------------------*/

/*............. Loader Box to Put Spinner ...........*/
#loader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  height: 175px;
  width: 125px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1001;
  background-color: white;
}
/*---------------------------------------------------*/

/*............. Loader Text Under Spinner ...........*/
#loader-text{
  text-align: center;
  padding-top: 10px;
}
/*---------------------------------------------------*/

/*................. Spinner  ........................*/
#spinner {
  margin: 20px auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*---------------------------------------------------*/

/*-------------- End: Spinner -----------------------*/
/**/
/*###################################################*/





/*###################################################*/
/**/
/*................... Axes Buttons ..................*/

.axes-btn{
  padding:0 5px;
}

.axes-btn>.btn{
  background-color: #fff;
  border-radius: 2px;
}

.axes-btn>.btn:focus{
  outline: 0;
}

.axes-btn>.btn:active{
  background-color:#BDBDBD;
}


/*-------------- End: Axes Buttons ------------------*/
/**/
/*###################################################*/

