
#header {
  background: black url('../img/usgs_logo.png') 0px/84px no-repeat;
  background-position: 3px 3px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 1.6em;
  padding-right: 8px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: right;
  line-height: 1.6em;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 2px #999;
}

#header .title {
  padding-right: 8px;
}

#header .glyphicon {
  top: 3px;
}

#header #header-menu {
  float: right;
}

#control {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  margin: 2em 0 3.5em 0;
  padding: 20px;
  overflow: auto;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2em 0 3.5em 400px;
  padding: 20px;
}

#footer {
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #f7f7f7;
  border-top: 1px solid #bbb;
  box-shadow: 0px 0px 3px 1px #ccc;
}
