/**
* CSS for D3View class
*
*/

/* D3 View */
.D3View {
  position: relative;                                                           
}

/* Plot panel header */                           
.D3View .panel .panel-heading{                                     
  background-color: #f7f7f7;                                                    
  font-family: 'HelveticaNeue-Light',sans-serif;                                
  position: relative;
}                                                                               

.D3View .panel-title {
  font-size: 1.15em;
}

.D3View .plot-title{
  display: inline-block;
  min-width: 30%;
}

/* Plot panel body */
.D3View .panel-body{
  padding: 0;
}

.D3View .panel-lower{
  border-top: 1px solid #ddd;
  position: relative;
}
              
/* Plot panel footer */
.D3View .panel .panel-footer{
  background-color: #f7f7f7;                                                    
  font-size: 1em;
  position: relative;
}

.D3View .footer-btn-toolbar {
  margin: 0 1.25em;
}

.D3View .footer-btn-group{
  padding: 0 1%;
}

.D3View .footer-button input{
  height: 0;
}

.D3View .panel-footer .dropdown-header {
  font-weight: 400;
}

.D3View .panel-footer label {
  font-weight: initial;
}

/* Plot panel body data table */
.D3View .panel-table td {
  font-size: 0.75vw;
  vertical-align: initial;
}

.D3View .panel-table th {
  font-size: 1vw;
  font-weight: 550;
  vertical-align: initial;
  width: 50%;
}

.D3View .panel-table tr tr td {
  padding: 2px 5px;
}

.D3View .panel-table .data-table-title {
  font-size: 1.25vw;
  font-weight: 800;
}

.D3View .panel-table {
  overflow-x: scroll;
  overflow-y: scroll;
}

.D3View .panel-table .table {
  margin-bottom: 2em;
}

/* Panel glyphicons */
.D3View  .icon{
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  line-height: 100%;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
